header {
    position: fixed;
    width: 700px;
}

nav {
    background-color: rgb(132, 230, 132);
    width: 100%;
    height: 30px;
}

nav > ul > li {
    position: relative;
    float: left;
    width: 100px;   
    height: 30px;
    text-align: center;
    list-style: none;
}

section {
    height: 2000px;
    ba
}