* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
#header {
	width: 100%;
	height: 100px;
	position: fixed;
	background: white;
	float: left;
	z-index: +1;
}
.anh1 {
	height: 100px;
	width: 200px;
	margin-left: 200px;	
}
#logo {
	width: 40%;
	height: 100px;
	float: left;
}
#menu > ul > li {
	float: left;
	list-style: none;
	line-height: 100px;
	padding: 0px 50px;
	position: relative;
}
#menu a {
	text-decoration: none;
	color: black;
	padding-left: 10px;
	font-weight: bold;
	font-size: 24px;
}
.menu2 {
	background: white;
	padding: 0px 20px;
	position: absolute;
	left: 0px;
	width: 200px;
	display: none;
	list-style: none;
}
.menu li:hover {
	background: gray;
}
#menu a:hover {
	color: red;
}
#menu li:hover ul {
	display: block;
	padding: 0px;
}
#content {
	width: 100%;
	height: 1100px;
	background: url("../media/content.jpg") no-repeat;
	background-size: 100%;
}
#left {
	background: #EC3E3E;
	width: 40%;
	height: 970px;
	position: relative;
	float: left;
	opacity: 0.8;
	margin-top: 100px;
}
h3 {
	text-align: center;
	margin-top: 450px;
	font-size: 48px;
	color: white;
}
p {
	text-align: center;
	font-size: 24px;
	color: white;
}
input {
	margin-left: 225px;
	width: 300px;
	height: 50px;
	border-radius: 4px #EC3E3E;
	font-size: 24px;
	color: #EC3E3E;
}